@model MyPersonalPage.Web.ViewModels.Contacts.InputModels.ContactFormInputModel
@{
    ViewData["Title"] = "Contact Form";
}

<section>
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact me</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to
        contact me directly.
    </p>

    <div class="row">

        <div class="col-md-9 mb-md-0 mb-5">
            <form method="POST">

                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-3">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" class="form-control" type="text" placeholder="Name..." />
                        </div>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form mb-3">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" class="form-control" type="email" placeholder="Email..." />
                        </div>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-3">
                            <label asp-for="@Model.Subject"></label>
                            <input asp-for="@Model.Subject" class="form-control" type="text" placeholder="Subject..." />
                        </div>
                        <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="md-form mb-3">
                            <label asp-for="@Model.Content"></label>
                            <textarea asp-for="@Model.Content" class="form-control" placeholder="Content..."></textarea>
                        </div>
                        <span asp-validation-for="@Model.Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>

        <div class="col-md-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Sofia, Bulgaria</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>marko_djunev@abv.bg</p>
                </li>
            </ul>
        </div>
    </div>
</section>